* {
    box-sizing: border-box;
}

.table-menu {
    width: 25%;
    float: left;
}

.table-main {
    width: 75%;
    float: right;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: transparent;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: "PT Mono Regular", monospace;
}

#page-top {
    display: block;
}

.cont-cter {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.background {
    background-image: url(../assets/background1.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}