@charset: "UTF-8";
body {
	-webkit-font-smoothing: antialiased;
	font-family: "Segoe UI", "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.5;
    color: #373a3c;
    text-align: left;
}
@media screen and (max-width: 600px) {
	#firstpagecard1 {
		margin-bottom: 3rem;
		margin-left: 3rem;
		margin-right: 3rem;
	}
}
