@charset: "UTF-8";

* {
	font-family: "Segoe UI", sans-serif;
	font-style: inherit;
	color: #242526;
	--bs-font-family: "Segoe UI", sans-serif;
	--bs-font-monospace: "Monaco", sans-serif;
}
.header{
	
}